@{
    ViewData["Title"] = "Главная страница";
}

<h1 class="display-4">Asp Web API + Desktop application </h1>

<div class="text-center">
    @if (User.Identity!.IsAuthenticated)
    {
        <p>
            Приветствую, <strong>@User.Identity.Name</strong>!
        </p>
        <p>
            <a asp-controller="Cabinet">Личный кабинет</a>
        </p>
    }
    else
    {
        <p>
            <a asp-controller="Account" asp-action="Register">Регистрация</a> | 
            <a asp-controller="Account" asp-action="Login">Вход</a>
        </p>
    }
</div>
