@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </p>
    <p>
        <a asp-controller="Account" asp-action="Login" >Вход</a>
    </p>
    <p>
        <a asp-controller="Cabinet">Личный кабинет</a>
    </p>
</div>
